@use '_variables';


.hero-main-section{
     position: relative;
     z-index: -3;
     width: 100%;
     height: 100vh;
     top: 0;
     .hero-main{
          background-image: url(https://shop-int.mercedesamgf1.com/cdn/shop/files/background-4_ab3be996-6fff-4a81-ab6e-56c3132a8a7d.jpg?v=1677662101&width=4472);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
          z-index: -2;
          background-attachment: fixed;
          position: relative;

          .first-section{
               width: 100%;
               height: 100%;
               background-image: url(https://shop-int.mercedesamgf1.com/cdn/shop/files/Adidas_Launch_Desktop_v2.jpg?v=1738684995&width=3840);
               mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
               opacity: 1;
               z-index: -1;
               position: relative;
          }

          .second-section{
               width: 100%;
               height: auto;
               position: relative !important;
          }

     }
     
}

@media only screen and (max-width: 500px) {

     .hero-main-section{
          height: 70vh;
     }
     .first-section{
          background-image: url(https://shop-int.mercedesamgf1.com/cdn/shop/files/HP_Carousel_1.png?v=1738685173&width=800) !important;
          background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
               background-position-y: 10px !important;
     }     
}

@media only screen and (max-width: 750px) {

     .hero-main-section{
          height: 70vh;
     }
     .first-section{
          background-image: url(https://shop-int.mercedesamgf1.com/cdn/shop/files/HP_Carousel_1.png?v=1738685173&width=800) !important;
          background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
               background-position-y: 10px !important;
     }     
}




.hero-text{
     background-color: transparent;
     position: absolute;
     bottom: 100px;
     min-height: 20vh;
     width: 100%;
     gap: 30px;

     .hero-content{
          .kicker{
               color: variables.$accent-color;
          }
          .title{
               font-size: 50px;
               color: #fff;
               font-weight: 700;
               letter-spacing: -.01em;
               line-height: 110%;
          }
     }
}


@media only screen and (max-width: 750px){

     .first-section{
          mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
     }
     .hero-text{
          bottom: 280px;
          gap: 20px;

          .kicker{
               font-size: 13px !important;
               margin-bottom: 10px !important;
          }
          .title{
               font-size: 30px !important;
          }
     }
}






.collections{
     background-image: url(https://shop-int.mercedesamgf1.com/cdn/shop/files/background-3_d4b03e7a-f58a-4737-afaf-790fcf79df4b.jpg?v=1677662101&width=3840);
     mask-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     min-height: 100vh;
     padding: 100px 0 !important;
     position: relative;
}