@use '_variables';

/* .mySwiper2 {
     width: 100%;
     height: 650px ; 
     background-color: rgba(137, 43, 226, 0) !important;
   }
   
   .swiper-slide {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 485px ;
     height: 606px ;
   }
   .swiper-wrapper {
     height: auto !important;
 }
.swiper-scrollbar, .swiper-scrollbar-horizontal{
     background: rgb(19, 19, 19) !important;
}
.swiper-scrollbar-drag{
     background: rgba(255, 255, 255, 0.678) !important;
}
    */