@import 'variables';

@font-face {
     font-family: "Unity Sans";
     src: url(../fonts/TTF/UnitySans-Basic.ttf);
}
*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}


body{
     font-family: "Space Grotesk", serif !important;
     background-color: #0f0f0f !important;
     overflow: auto;
     height: 1000vh;
}
p{
     border-bottom: none;
     color: white;
}
p:hover{
     border-bottom: 1px solid #00f5d2;
     transition: all 0.4s ease !important;
     color: #00f5d2;
}